dbLogin=orthomcl
similarSequencesTable=SimilarSequences
orthologTable=Ortholog
inParalogTable=InParalog
evalueExponentCutoff=-5
percentMatchCutoff=50
oracleIndexTblSpc=NONE
dbConnectString=DBI:SQLite:/Users/vladsaveliev/az_test_results/test_prots_add_assemblies333/intermediate/sqlite.db
dbPassword=12345
dbVendor=sqlite
coOrthologTable=CoOrtholog
interTaxonMatchView=InterTaxonMatch
