dbLogin=orthomcl
similarSequencesTable=SimilarSequences
orthologTable=Ortholog
inParalogTable=InParalog
evalueExponentCutoff=-5
percentMatchCutoff=50
oracleIndexTblSpc=NONE
dbConnectString=dbi:mysql:database=orthomcl;host=172.18.72.88;port=3307;myisam_sort_buffer_size=8G;read_buffer_size=4G;innodb_buffer_pool_size=4G;mysql_local_infile=1;
dbPassword=12345
dbVendor=mysql
coOrthologTable=CoOrtholog
interTaxonMatchView=InterTaxonMatch
