dbLogin=orthomcl
similarSequencesTable=SimilarSequences
orthologTable=Ortholog
inParalogTable=InParalog
evalueExponentCutoff=-5
percentMatchCutoff=50
oracleIndexTblSpc=NONE
dbConnectString=dbi:mysql:database=orthomcl;host=127.0.0.1;port=3307;mysql_local_infile=1
dbPassword=1234
dbVendor=mysql
coOrthologTable=CoOrtholog
interTaxonMatchView=InterTaxonMatch
